body{
	background-color: #EDEDED !important;
}


.container {
    width: 96%  !important;
}


#menufil
{
	z-index: 100;
}

.scrollToTop{
	width:50px; 
	height:75px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:40px;
	right:40px;
	display:none;
	background: url('top.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}




.ov
{
	position: fixed;
	top: 0;height: 100%;width: 100%;
	z-index: 999;
	display: none;
	background-color: rgba(50,50,50,0.5)!important;
}
header{
	position: fixed;
	top:0px;
	width: 100%;
    height: auto;
    padding: 8px 12px;
	background-color: #009AB4 !important;
	z-index: 99;
	        border-bottom: 2px solid rgba(7, 139, 162, 0.63);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .8);
}

header i{
	margin-top: 2px;
	color:#fff;
	cursor: pointer;
}
.logo{
	
	color: #fff;
	font-size:1.36em;

}


footer
{
	/*position: fixed;
	bottom:0px;*/
	width: 100%;
	background-color: #009AB4;
    min-height: 26px;
    /*padding: 20px 50px 10px 50px;*/
    color: #fff;
    font-size: 13px;
    border-bottom: 2px solid #0395AE;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .8);
    z-index: 1000;

}
 footer  .row
 {
 	margin-top: 12px;
 }


.menu
{
	color: #fff;
	margin-top: 6px;
    float: right;
}
.menu a
{
	color: #fff;
}
.menu a:hover
{
	color: #fff;
	text-decoration: none;
}
.men
{
	color: #fff;
	display: inline;
	margin-right: 30px;
	font-size: 12.8px;
}

.lgn
{
	width: 49%;
}

.edtj
{
	border: 1.8px solid gray;
    border-radius: 3px;
    padding: 1px 16px;
    color: #fff;
    background-color: darkcyan;
}


.edtd
{
	border: 1.8px solid gray;
    border-radius: 3px;
    padding: 1px 16px;
    color: #fff;
    background-color: chocolate;
}


.bk
{
	border: 1.8px solid gray;
    border-radius: 3px;
    padding: 1px 16px;
    color: #fff;
    background-color: goldenrod;
}


sidemenu
{
	width: 262px;
    background-color: #fff !important;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100022; 
    display: none;

     transition: -moz-transform 2s ease-in-out;
    -moz-transition: -moz-transform 2s ease-in-out;
    -webkit-transition: -webkit-transform 2s ease-in-out;



-webkit-box-shadow: 4px 2px 32px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 2px 32px -6px rgba(0,0,0,0.75);
box-shadow: 4px 2px 32px -6px rgba(0,0,0,0.75);

}




.side-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color:#F4F4F4;

	overflow-y: scroll;
	overflow-x: hidden;
	
	height:100%; 

	

}


.side-menu ul::-webkit-scrollbar {
    width: 0.8px;
}

.side-menu ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.side-menu ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}



.side-menu i {
	cursor: pointer;
}


.side-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #666;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: bold;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;



}

.side-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.side-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
	text-decoration: none;
}

.sm-header{

	display: block;
	padding: 0.55em 1em 0.45em 0.9em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: bold;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
	background-color: #009AB4;

}


.smh{
	font-size: 1.6em;

}

.profile
{
	/*min-height: 333px;*/
    /*margin-top: 12px;*/
    /*padding: 10px;*/
    /*box-shadow: 0px 0px 2px 1px #0395AE;*/
    position: fixed;
    top:100px;
    display: none;
    /*background-color: #fff;*/
}


.jokes
{
	/*min-height: 333px;*/
    margin-top: 9px;
    padding: 10px;
    background-color: #FFF;
   	-webkit-box-shadow: 0px 0px 2.2px 0px #545454;
-moz-box-shadow: 0px 0px 2.2px 0px #545454;
box-shadow: 0px 0px 2.2 0px #545454;
border-radius: 5px;
}

.jokes_hd
{
    margin-top: 9px;
    padding: 10px;
    background-color: #0395AE;
    color: #fff;
	/*   	-webkit-box-shadow: 0px 0px 1px 1px #0395AE;
	-moz-box-shadow: 0px 0px 1px 1px #0395AE;
	box-shadow: 0px 0px 1px 1px #0395AE;*/

}

.headin
{
	color: #009AB4;
	text-align: center;
	font-size: 2.2em;
}

.para
{
	text-align: justify;
}

.userimg
{
	width: 46px;
    height: 46px;
    border-radius: 8.2px;
    float: left;
    margin-right: 12px;

}

.imag
{
		
}

.name
{
	font-size: 1em;
    font-weight: 700;
    color: #009AB4;
}
.time
{
    color: cadetblue;

}
.post{
	margin-top: 12px;
	padding: 12px;
}
.postimage
{
	max-width:390px;
}
.posttxt
{
	margin-bottom: 12px;
}

.postimg
{
	margin-bottom: 12px;
}

.break
{
	margin-top:50px;
}
.addtext
{
	width: 100%;
    height: 156px;
    border: 1px solid cadetblue;
    margin-bottom: 10px;
}

.posttxt {
    margin-bottom: 12px;
    white-space: pre-line;
        word-wrap: break-word;
}


.labe
{
	margin-bottom: 10px;
	color: #009AB4;
	font-weight:100; 
}
.labe-head
{
	color: #009AB4 ;
	font-weight: 600;
}
.lin
{
	    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}
.ln
{
	border-bottom: 1px solid #e5e5e5;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.widther
{
	width:99.9%;
}
.sub
{
	float: right;
}
.butto
{
	background-color: #009AB4;
    color: #fff;
    border: 1px solid #1B9BB1;
    border-radius: 3px;
}
.laughers
{
	/*float: right;*/
	    color: #666;
}
.laugh{
	cursor: pointer;
	color: gray;
	    font-weight: bold;
}

.laugh button
{
	background-color: #E1E1E1;
    border: 1.8px solid gray;
    border-radius: 3px;
    width: 98%;
}

.laughed{
	cursor: pointer;
	color: #00B457;
	font-weight: bold;
}

.laughed button
{
	background-color: #F4CF0A;
    color: #fff;
    border: 1.8px solid green;
    border-radius: 3px;
    width: 98%;
}


.criers
{
	/*float: right;*/
	    color: #666;
}
.cry{
	cursor: pointer;
	color: gray;
	    font-weight: bold;
}

.cry button
{
	background-color: #E1E1E1;
    border: 1.8px solid gray;
    border-radius: 3px;
    width: 98%;
}

.cried{
	cursor: pointer;
	color: #00B457;
	font-weight: bold;
}

.cried button
{
	background-color: #D30D0D;
    color: #fff;
    border: 1.8px solid green;
    border-radius: 3px;
    width: 98%;
}



.comment{
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}

.comment a
{
	background-color: green;
    border: 1.8px solid #092D11;
    border-radius: 3px;
    padding: 3px 12px;
    color: #fff !important;
    text-decoration: none !important;
}


.content
{
	margin-top: 56px;
}

.sme
{
	position: fixed;
	/*width:252px;*/

}

.sem{

	margin-top: 10px;
		-webkit-box-shadow: 0px 0px 1px 0px #545454;
-moz-box-shadow: 0px 0px 1px 0px #545454;
box-shadow: 0px 0px 1px 0px #545454;
}




.sem ul {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;

	overflow-y: scroll;
	overflow-x: hidden;
	
	height:auto; 

	-webkit-transition:  height 4s; /* Safari */
    transition: height 4s;

	

}


.sem ul::-webkit-scrollbar {
    width: 0.8px;
}

.sem ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.sem ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}



.sem i {
	cursor: pointer;
}


.sem ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #666;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: bold;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;



}

.sem ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.sem ul li a:hover {
	background: rgba(0,154,180,.9);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
	text-decoration: none;
}
.sem ul li a:focus
{
	text-decoration: none;
}
.addu {
    margin-bottom: 56px;
    margin-top: 8px;
}

.smg
{
	background-color: #D2D2D2;
box-shadow: rgba(0, 0, 0, 0.133333) 0px -1px 0px 0px inset, rgba(0, 0, 0, 0.133333) 0px 0.660273730754852px 0px 0px inset;
box-sizing: border-box;
color: rgb(102, 102, 102);
cursor: auto;
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: bold;
height: 48px;
letter-spacing: 1px;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
outline-color: rgb(102, 102, 102);
outline-style: none;
outline-width: 0px;
padding-bottom: 14px;
padding-left: 16.7999992370605px;
padding-right: 14px;
padding-top: 14px;
text-align: left;
text-decoration: none;
text-shadow: rgba(255, 255, 255, 0.0980392) 0px 0px 1px;
text-transform: uppercase;
transition-delay: 0s, 0s;
transition-duration: 0.3s, 0.3s;
transition-property: background, box-shadow;
transition-timing-function: ease, ease;
text-align: center;
}

.smg a:hover, .smg a:active,.smg a:focus
{
	text-decoration: none;
	}
.enl
{
	height: auto !important;
}

.smg
{
	cursor: pointer;
}

.rf
{
	color: #EC0E0E;
    font-weight: 600;
}


.sh{
	text-align: right;
}
.mo{

		font-size: 1.76em !important;
}

a:focus, a:hover {
    color: currentcolor !important;
    text-decoration: none !important;
}
/*.modal-header, .modal-footer{
	    background-color: #009AB4;
    color: #fff;	
}
*/
/*.modal-body
{
	    border: 14px solid #009AB4;
}*/

.modal-title
{
	color: #009AB4;
}


@media (max-width: 440px)
{
	
	footer
	{
		display: none !important;
	}
	.postimage
	{
		max-width: 100% !important;
	}
}


@media (max-width: 1200px)
{
	.widther
	{
		width:100%;
	}
	.sme
	{
		position: relative;
	}
	.lgn
	{
		width: 75%;
	}


}


@media (max-width: 990px)
{
	.sem ul {
		height:0%; 

	}
	.sme
	{
		margin-top: 36px;
	}
	.lgn
	{
		width: 49%;
	}

	.postimage
	{
		max-width:350px;
	}
	
}




@media (max-width: 560px)
{
	.lgn
	{
		width: 99%;
	}


	
}


@media (max-width: 768px)
{
	.tp
	{
		margin-top: 15px;
	}
	
	.postimage
	{
		max-width:330px;
	}
	
}



@media (min-width: 990px)
{
	.smg {
		display: none;
		
	}
}


.shr
{
	font-size: 1.5em;
	font-weight: bolder !important;
	margin-top: 3px;
}
.fa-whatsapp
{
	color: #4dc247;
}
	
.fa-facebook
{
	color: #3b5998;
}
.fa-google
{
	color: #dc4e41;
}
.fa-linkedin
{
	color: #0077b5;
}
.fa-twitter
{
	color: #55acee;
}
.fa-reddit
{
	color: #ff4500;
}
.fa-comment-o
{
	color: #EF05C9;
}
 .wtp{
	   display : none;
	 }
@media (max-width: 767px) {

	 .wtp{
	   display : inline-block;
	 }
}
